body,html  {
  // background-image: url('/asset/images/empty-hospital-ward-background-clinic-room-vector-20599148.jpg');
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
    padding: 0;
    height: 100%;
    background-repeat: no-repeat;
  background-size: cover;
  background: #6c757d;
    code {
      font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    }
    
}

